﻿@model AssessmentViewModel

<div class="col">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <img src="@Model.PhotoUrl" class="card-img-top" />
            <div class="card-body">
                <p class="card-text"><strong>Username:</strong> @Model.Username</p>
                <p class="card-text"><strong>Final score:</strong> @Model.Score</p>
                <p><strong>Comments</strong></p>
                @foreach (var comment in Model.Comments)
                {
                    <p class="card-text">@comment<span id="timeToNextPhase"></span></p>
                }
            </div>
        </div>
    </div>
</div>
