﻿@model ContestPhaseOneDetailsViewModel

<p class="text-secondary"><strong>NOTE:</strong> You may upload your photo in order to take participation in the contest</p>
<form enctype="multipart/form-data" id="photoSubmissionForm" method="post">
    <div class="form-group">
        <label asp-for="UploadPhotoVM.PhotoTitle"></label>
        <input asp-for="UploadPhotoVM.PhotoTitle" class="form-control" />
        <span class="text-danger" asp-validation-for="UploadPhotoVM.PhotoTitle"></span>
    </div>
    <div class="form-group">
        <label asp-for="UploadPhotoVM.PhotoStory"></label>
        <textarea asp-for="UploadPhotoVM.PhotoStory" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="UploadPhotoVM.PhotoStory"></span>
    </div>
    <div class="form-group">
        <label asp-for="UploadPhotoVM.Photo"></label>
        <input class="form-control-file" asp-for="UploadPhotoVM.Photo" />
        <span class="text-danger" asp-validation-for="UploadPhotoVM.Photo"></span>
    </div>
    <span class="text-warning"><strong>NOTE:</strong>Only .jpg and .png formats are accepted</span>
    <input asp-for="@Model.UploadPhotoVM.ContestId" value="@Model.ContestId" style="display:none" />
    <input asp-for="@Model.UploadPhotoVM.UserId" value="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value" style="display:none" />
    <input asp-for="@Model.ContestTypeId" value="@Model.ContestTypeId" style="display:none" />
    <input asp-for="@Model.Title" value="@Model.Title" style="display:none" />
    <input asp-for="@Model.Category" value="@Model.Category" style="display:none" />
    <input asp-for="@Model.CurrentNextPhaseDiffInMillsec" value="@Model.CurrentNextPhaseDiffInMillsec" style="display:none" />
    <input asp-for="@Model.CurrentPhaseDiffInMillisec" value="@Model.CurrentPhaseDiffInMillisec" style="display:none" />
    <input asp-for="@Model.CurrentPhase" value="@Model.CurrentPhase" style="display:none" />
    <input asp-for="@Model.Jury" value="@Model.Jury" style="display:none" />
    <input asp-for="@Model.Photos" value="@Model.Photos" style="display:none" />
    <button asp-area="PBW" asp-action="Create" asp-controller="Photos" class="btn-success" type="submit" id="photoSubmit">Submit</button>
</form> 
