﻿@model ContestPhaseOneDetailsViewModel
@inject UserManager<User> userManager;
@inject RoleManager<Role> roleManager;
@{
    var user = await userManager.GetUserAsync(this.User);
}

@await Html.PartialAsync("GeneralPhaseDetailsPartial", model: Model)
<p>Remaining time until end of the phase: <span id="remainingTimeCurrPhase">@Model.CurrentPhaseDiffInMillisec</span></p>
<p>Remaining time until Phase II: <span id="remainingTimeNextPhase">@Model.CurrentNextPhaseDiffInMillsec</span></p>

@if (this.User.IsInRole("Organiser") || Model.Jury.FirstOrDefault(j => j.Id == user.Id) != null)
{
    if (!Model.Photos.Any())
    {
        <p><strong>There are no uploaded photos yet.</strong></p>
    }
    else
    {
        foreach (var photo in Model.Photos)
        {
            @await Html.PartialAsync("_PhotoCardPartial", model: photo);
        }
    }
}
else
{
    @if (Model.ContestTypeId == ContestTypeConsts.OPEN)
    {
        @if (@Model.Participants.All(p => p.Id != user.Id))
        {
            @await Html.PartialAsync("_PhotoUploadFormPartial", model: Model);
        }
        else
        {
            <span class="text-success">Your photo is already uploaded! It will be reviewed by the jury! Good luck!</span>
        }
    }
    else
    {
        var eligibleUserLink = Model.InviteesLink.FirstOrDefault(il => il.UserId == user.Id);

        if (eligibleUserLink != null)
        {
            if (!eligibleUserLink.IsAccepted.Value)
            {
                <form method="post">
                    <button type="submit" class="btn-success" asp-action="AcceptContestInvitation" asp-controller="Users"
                       asp-route-ContestId="@Model.ContestId" asp-route-UserId="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value">
                        Participate!
                    </button>
                </form>
            }
            else
            {
                if (!eligibleUserLink.UploadingPhotoTime.HasValue)
                {
                    @await Html.PartialAsync("_PhotoUploadFormPartial", model: Model);
                }
                else
                {
                    <span class="text-success">Your photo is being reviewed by the jury! Good luck!</span>
                }
            }
        }
    }
}

@section Scripts{
    <script src="~/js/contestPhaseOne.js"></script>
    <script src="~/js/Timers.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}