﻿@model IEnumerable<MessageNotificationViewModel>

@if (TempData["invitationAccepted"] !=null)
{
    <p class="text-success">@TempData["invitationAccepted"]</p>
}
<div class="table-responsive">
    <table class="table">
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <td class="action"><input type="checkbox" /></td>
                    <td class="action"><i class="fa fa-star-o"></i></td>
                    <td class="action"><i class="fa fa-bookmark-o"></i></td>
                    <td class="name"><a href="#">Organisers team</a></td>
                    <td class="subject"><a asp-area="PBW" asp-action="Get" asp-controller="Messages" asp-route-id="@message.Id">@message.Title</a></td>
                    <td class="time">@message.Date</td>
                </tr>
            }
        </tbody>
    </table>
</div>
