﻿@model UserFiltrationViewModel

<form method="get">
    @foreach (var category in Model.Categories)
    {
        @await Html.PartialAsync("_UserFiltrationCategoryPartial", model: category);
    }
    <div class="form-group">
        <label asp-for="@Model.FirstName"></label>
        <input class="form-control" asp-for="@Model.FirstName" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.LastName"></label>
        <input class="form-control" asp-for="@Model.LastName" />
    </div>
    <button type="submit" class="btn btn-outline-primary" asp-action="GetFiltered" asp-controller="Users" asp-area="PBW">Submit</button>
</form>
