﻿@model OrganisersDashboardViewModel

@if (TempData["contestSuccessfullyCreated"] != null)
{
    <p class="text-success">@TempData["contestSuccessfullyCreated"]</p>
}

<a asp-area="PBW" asp-action="Create" asp-controller="Contests" class="btn-light">Setup new contest</a>
<h1>Contests</h1>
<h3>Prestart phase</h3>
<div class="container">
    <div class="row">
        @foreach (var contestCardVM in Model.PhasePrestartContests)
        {
            @await Html.PartialAsync("_ContestCardPartial", model: contestCardVM);
        }
    </div>
</div>

<hr>

<h3>Phase I</h3>
<div class="container">
    <div class="row">
        @foreach (var contestCardVM in Model.PhaseOneContests)
        {
            @await Html.PartialAsync("_ContestCardPartial", model: contestCardVM);
        }
    </div>
</div>

<hr>

<h3>Transition Phase</h3>
<div class="container">
    <div class="row">
        @foreach (var contestCardVM in Model.PhaseTransitionContests)
        {
            @await Html.PartialAsync("_ContestCardPartial", model: contestCardVM);
        }
    </div>
</div>

<hr>

<h3>Phase II</h3>
<div class="container">
    <div class="row">
        @foreach (var contestCardVM in Model.PhaseTwoContests)
        {
            @await Html.PartialAsync("_ContestCardPartial", model: contestCardVM);
        }
    </div>
</div>

<hr>

<h3>Finished</h3>
<div class="container">
    <div class="row">
        @foreach (var contestCardVM in Model.FinishedContests)
        {
            @await Html.PartialAsync("_ContestCardPartial", model: contestCardVM);
        }
    </div>
</div>

<a asp-area="PBW" asp-action="GetAll" asp-controller="Users">
    <input type="button" class="btn btn-primary" value="View all users" />
</a>
<a asp-area="PBW" asp-action="Filtrate" asp-controller="Users">
    <input type="button" class="btn btn-primary" value="Filter users" />
</a>