﻿@model ContestPhaseTransitionViewModel

@await Html.PartialAsync("GeneralPhaseDetailsPartial", model: Model)
<p>Remaining time until Phase II: <span id="remainingTimeNextPhase">@Model.NextPhaseDiffInMillSec</span></p>

<h4>The photos are already uploaded! Soon our jury will review them and choose the final winners! Don't miss it out!</h4>

@if (!Model.UploadedPhotos.Any())
{
    <p>No photos were uploaded to this contest :(</p>
}
else
{
    <h3>See below the uploaded photos</h3>
    @foreach (var photo in Model.UploadedPhotos)
    {
        @await Html.PartialAsync("_PhotoCardPartial", model: photo)
    }
}

@section Scripts{ 
 <script src="~/js/Timers.js"></script>
}