﻿@model ContestCardViewModel

<div class="col">
    <div class="card" style="width: 18rem;">
        @if (Model.PhotoUrl != null)
        {
            <img class="card-img-top" src="@Model.PhotoUrl" alt="Card image cap">
        }
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">Category: @Model.Category</p>
            <p class="card-text">Current phase: @Model.CurrentPhase</p>
            <p class="card-text">Type: @Model.Type</p>
            <a asp-area="PBW" asp-action="Details" asp-controller="Contests" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
